OPENAI_API_KEY=
ANTHROPIC_API_KEY=
LLM_PROVIDER=

FAASR_GH_USERNAME=
FAASR_ACTION_REPO=
FAASR_WORKFLOW_NAME=

FAASR_S3_ENDPOINT=
FAASR_S3_BUCKET=
FAASR_S3_REGION=

GH_PAT=
GITHUB_REPOSITORY=
GITHUB_REF_NAME=
S3_AccessKey=
S3_SecretKey=